.drink-header {
  text-align: center;
}

.drink-category-grid {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 2em 2em;
}

.drink-category-button {
  font-size: 25px;
}
