.trending-section {
  background-color: #00296b;
  padding-bottom: 100px;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.trending-bg {
  background-image: url("../images/nycskyline.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 90% 120%;
  background-color: #00296b;
  padding-top: 25%;
  position: relative;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.trending-text {
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1.5px 1.5px #0b0b0b;
  margin-left: 20%;
  margin-right: 20%;
}

.trending-sub {
  color: #fdc500;
  text-align: center;
}

.trending-header {
  text-align: center;
  font-size: 70px;
  text-shadow: 1px 1px #ff0000;
  text-rendering: optimizeLegibility;
  font-family: "Franklin Gothic Medium";
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trending-name {
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 1.5px 1.5px #f503bc;
}

.trending-sub {
  text-align: center;
  color: #fdc500;
  font-size: 40px;
  text-shadow: 1px 1px #ff0000;
  font-weight: bold;
  font-family: fantasy;
}

.trending-subtext {
  text-align: center;
  color: #fdc500;
  font-size: 40px;
  text-shadow: 1px 1px #ff0000;
  font-weight: bold;
  font-family: fantasy;
}

.trending-add {
  font-size: 25px;
  font-weight: bold;
}

.venue-Header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.venue-section img {
  height: 600px;
  width: 800px;
}

@media screen and (max-width: 1024px) {
  .venue-section img {
    height: 450px;
    width: 600px;
  }
  .trending-sub,
  .trending-subtext {
    font-size: 30px;
  }
  .trending-header {
    font-size: 50px;
  }
  .trending-name {
    font-size: 30px;
  }
  .trending-text {
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
  }
  .trending-add {
    font-size: 24px;
  }
}

@media screen and (max-width: 690px) {
  .venue-section img {
    height: 300px;
    width: 400px;
  }
  .trending-header {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 40px;
  }
  .trending-sub,
  .trending-subtext {
    font-size: 20px;
  }
  .trending-name {
    font-size: 25px;
  }
  .trending-text {
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .trending-add {
    font-size: 18px;
  }
}
