
/* .home-container {
  background-image: url("https://i.ibb.co/ysBbxRH/party-pic-nightlife.jpg");
  background-size: 2000px 1600px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  justify-content: center;
  height: 550px;
} */

.home-container {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.home-header {
  font-size: 50px;
  margin-block-start: 20px;
  margin-block-end: 20px;
}

.home-tagline {
  font-size: 35px;
}