.trending-section{
    /* background-image: url("https://i.ibb.co/RSTzT1J/party-drink-nightlife.webp");
    background-size: contain;
    background-repeat: no-repeat; */
    /* display: block; */
    /* opacity: 0.3; */
    /* height:1000px; */
    /* background-size: auto; */
    /* background: radial-gradient(80% 40%, white , black ); */
    background-color: #00296b;
    padding-top: px;
    padding-bottom: 100px;
}

/* .trending-section{

} */

.trending-bg{
    /* background-image: url("https://i.ibb.co/RSTzT1J/party-drink-nightlife.webp");("https://i.ibb.co/PGVqWdY/cityPic.jpg"); */
    background-image: url("https://i.ibb.co/q9N1Y9k/nyc-Skyline.webp");
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position:  top;
    /* width: 100px; */
    /* display: block; */
    /* opacity: 0.3; */
    /* height:1000px; */
    background-size: 2000px 400px;
    /* background: radial-gradient(80% 40%, white , black ); */
    background-color: #00296b;
    padding-top: 400px;
    padding-right: 100px;
    /* padding-bottom: 300px; */
}

.trending-text{
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    width: 39em;
    font-weight: bold;
    text-shadow: 1.5px 1.5px #0b0b0b;

}

.trending-sub {
    color: #fdc500;
    text-align: center;
}

.trending-header {
    text-align: center;
    font-size: 70px;
    text-shadow: 1px 1px #ff0000;
    padding-left: 100px;
    text-rendering: optimizeLegibility;
    font-family:'Franklin Gothic Medium'
    
    
}

.trending-Name {
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
    width: 18em;
    font-weight: bold;
    text-shadow: 1.5px 1.5px #f503bc;

}

.trending-sub {
    text-align: center;
    color: #fdc500;
    font-size: 40px;
    text-shadow: 1px 1px #ff0000;
    font-weight: bold;
    padding-left: 100px;
    font-family: fantasy;
    /* padding-bottom: 700px; */
}

.trending-subtext {
    text-align: center;
    color: #fdc500;
    font-size: 40px;
    text-shadow: 1px 1px #ff0000;
    font-weight: bold;
    padding-left: 100px;
    font-family: fantasy ;
}

.trending-add {
    font-size: 25px;
    font-weight: bold;
}

.venue-Header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.venue-section{
    padding-bottom: 1000 px;
}