/* body {
  background-color: #00296b;
  color: #ffffff;
  padding-top: 100px;
} */
/* body {
  background-image: url("https://i.ibb.co/ysBbxRH/party-pic-nightlife.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height:1000px;
} */

body {
  background-image: url("https://i.ibb.co/ysBbxRH/party-pic-nightlife.jpg");
  padding-top: 100px;
  /* background-size: contain; */
  background-size: 2000px 1600px;
  background-repeat: no-repeat;
  background-position: center;
  /* height:1000px; */
  
}


a {
  color: #ffffff;
}

a:hover {
  color: #fdc500;
}

h1 {
  color: #fdc500;
}

@media screen and (max-width: 690px) {
  body {
    padding-top: 175px;
  }
}

/* Button colors and sizes */

button,
input[type="submit"] {
  background-color: #fdc500;
  border: none;
  color: #00296b;
  font-weight: bold;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #00e11a;
}

button:hover,
input[type="submit"]:hover {
  background-color: #e7e7e7;
  color: black;
}

.large-button {
  font-size: 20px;
}


/* Text Inputs */

label {
  padding: 10px;
}

input,
textarea {
  color: #ffffff;
  background-color: #001b46;
  font-size: 16px;
}

textarea {
  vertical-align: top;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  margin-bottom: 10px;
  margin-top: 10px;
}

input[type="text"],
input[type="url"],
input[type="number"],
textarea {
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.checkmark {
  height: 20px;
  width: 20px;
  accent-color: #001b46;
}