body {
  background-color: #00296b;
  color: #ffffff;
  padding-top: 100px;
}

a {
  color: #ffffff;
}

a:hover {
  color: #fdc500;
}

@media screen and (max-width: 690px) {
  body {
    padding-top: 175px;
  }
}

/* Button colors */

button {
  background-color: #fdc500;
  border: none;
  color: #00296b;
  font-weight: bold;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #e7e7e7;
  color: black;
}
